body{
    background-color: #1e00ff71;
}

.cabecalho{
    background-image: linear-gradient(to bottom, var(--color02), var(--color04));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 55px;
    max-width: 1950px;
    margin: 0 auto;
}

.cabecalho .logo{
    width: 70px;
}

.cabecalho .menu{
    display: flex; 
}

.cabecalho .menu li {
    margin: 0 5px;
}

.cabecalho .menu li a{
    font-family: var(--font-primary);
    color: #ffffff;
    padding: 0 15px;
    font-size: 2.1rem;
    transition: 0.4s ease-in-out;
}

.cabecalho .menu li a:hover{
    font-weight: 700;
}


.container{
    max-width: 1950px;
    margin: 0 auto;
}

.principal{
    background-image: linear-gradient(to bottom, var(--color04), var(--color04), var(--color03));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px 0;
    transition: 0.8s ease-out;
}

.principal .info{
    width: 45%;
    padding: 50px;
}

.principal .info p{
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1.9rem;
    text-shadow: #07000a6c 10px 10px 13px;
    padding-left: 5px;
}

.principal .info p img{
    width: 35px;
}

.principal .info h1{
    font-family: var(--font-secondary);
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 15px;
    text-shadow: #07000a6c 10px 10px 13px;
}

.principal .info h3{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 2.5rem;
    text-shadow: #07000a6c 10px 10px 13px;
    margin-bottom: 60px;
}

.principal .info a{
    display: inline-block;
    color: #ffffff;
    background-color: var(--color04);
    font-size: 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.397) 1px 1px 10px;
    padding: 17px 30px;
    border-radius: 15px 7px 15px 7px;
    transition: 0.3s ease-in-out;
}

.principal .info a:hover{
    transform: translateY(-2px) translateX(-1px); 
}

.principal img{
    width: 45%;
}


.sobre{
    background-image: linear-gradient(to bottom, var(--color03), var(--color02), var(--color01));
    display: flex;
    justify-content: center;
    padding: 100px 20px;
}

.sobre .foto{
    overflow: hidden;
    border-radius:  15% 5% 15% 5%;
    box-shadow: var(--color04) 1px 1px 30px;
    align-self: center;
    height: 495px;
}

.sobre .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 59%;
    font-size: 1.9rem;
    padding: 10px 50px;
    text-indent: 20px;
}

.sobre .info p{
    margin: 5px 0;
}

.sobre .info a{
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--color03);
    border-radius: 15px 7px 15px 7px;
    color: #ffffff;
    border: solid #000000c7 1px;
    font-size: 2rem;
    margin-top: 10px;
    transition: 0.4s ease-in-out;
}

.sobre .info a i{
    font-size: 22px;
}

.sobre .info a:hover{
    transform: translateY(-2px) translateX(-1px); 
}


.tecnologias {
    background-image: linear-gradient(to bottom,var(--color01), var(--color02), var(--color03),var(--color02), var(--color01));
    padding: 215px 30px;
}

.tecnologias h2{
    font-family: var(--font-primary);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 70px;
    text-shadow: #07000a6c 10px 10px 13px;
}

.tecnologias .icones{
    display: flex;
    justify-content: space-evenly;
    font-size: 100px;
    text-shadow: #07000a8f 15px 19px 14px;
}

.fa-html5{
    color: #ec4305;
}

.fa-css3-alt{
    color: #0084ff;
}

.fa-js{
    color: #ffff00;
}

.fa-git-alt{
    color: #ff6600;
}

.fa-github{
    color: rgb(222, 184, 135);
}

.projetos{
    background-color: var(--color01);
    padding: 90px 0 120px 0;
}

.projetos h2{
    font-family: var(--font-primary);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
    text-shadow: #fdfdfd1f 5px 5px 12px;
}

.conteudo{
    display: flex;
    justify-content:center;
}

.conteudo .setas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

.conteudo .setas.desabilitar-seta{
    pointer-events: none;
    opacity: 0.3;
}

.conteudo #seta-esquerda:hover{
    box-shadow: #17104125 -6px 0px 40px; 
}

.conteudo #seta-direita:hover{
    box-shadow: #17104125 6px 0px 40px; 
}

.conteudo .setas img{
    width: 30px;
}

.projeto{
    max-width: 1235px;
    padding: 17px;
    box-shadow: var(--color03) 1px 1px 50px;
    display: none;
    grid:
    "desktop descricao" auto 
    "desktop mobile" auto
    "acesso-projeto mobile" 60px
    / 60% 40%;
}

.projeto.mostrar{
    display: grid;
}

.projeto .desktop{
    padding: 40px 20px;
    grid-area: desktop;
    justify-self: center;
    align-self: flex-start;
    border-radius: 21%;
    overflow: hidden;
}

.projeto .acesso-projeto{
    grid-area: acesso-projeto;
    position: relative;
    align-self: center;
}

.projeto .acesso-projeto .btn-link-projeto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, var(--color02), var(--color03), var(--color03));
    width: 220px;
    padding: 18px;
    margin-left: 40px;
    color: #ffffff;
    border: solid #000000d8 1px;
    font-size: 1.9rem;
    font-family: var(--font-secondary);
    border-radius: 15px 7px 15px 7px;
}

.projeto .acesso-projeto .links{
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom, var(--color02), var(--color03), var(--color03));
    width: 370px;
    padding: 15px;
    border-radius: 15px;
    top:-50px;
    left: 270px;
    transition: 0.5 ease-in-out;
}

.projeto .acesso-projeto .links.mostrar-links{
    display: block;
}

.projeto .acesso-projeto .links a{
    display: block;
    margin: 10px 0;
    font-size: 1.7rem;
    color: #ffffff;
}

.projeto .acesso-projeto .links a:hover{
    text-decoration: underline;
}

.projeto .acesso-projeto .links .btn-fechar{
    display: flex;
    background-color: var(--color03);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 25px;
}

.projeto .descricao{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: descricao;
    padding: 30px 62px 30px 2px;
}

.projeto .descricao h3{
    font-family: var(--font-primary);
    margin-bottom: 20px;
    font-size: 3rem;
    text-shadow: #fdfdfd1f 4px 4px 12px;
}

.projeto .descricao p{
    font-size: 1.7rem;
    font-weight: 300;
}

.projeto .mobile{
    grid-area: mobile;
    justify-self: center;
    align-self: flex-end;
    border-radius: 6%;
    overflow: hidden;
}

.projeto .mobile img{
    width: 260px;
    height: 355px;
}


.contato{
    background-image: linear-gradient(to bottom,var(--color01), var(--color02), var(--color03), var(--color04));
    padding: 170px 30px 50px 30px;
    text-align: center;
}

.contato h2{
    font-family: var(--font-primary);
    font-size: 3.7rem;
    text-shadow: #07000a6c 10px 10px 15px;
}

.contato .redes-sociais{
    display: flex;
    justify-content: center;
    margin: 70px 0 30px 0;
    text-shadow: #07000a8f 13px 17px 15px;
}

.contato .redes-sociais li{
    margin: 15px;
}

.contato .redes-sociais li a i{
    color: #ffffff;
    font-size: 43px;
    transition: 0.3s ease-in-out;
}

.contato .redes-sociais li a i:hover{
    transform: translateY(-2px) translateX(-1px);
}

.contato h3{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 2.3rem;
    text-shadow: #07000a6c 10px 10px 13px;
}