@media (max-width:1320px) {
    .principal .info a{
        padding: 15px 25px;
    }

    .sobre .info{
        font-size: 1.6rem;
    }

    .tecnologias .icones{
        font-size: 90px;
    }

    .projeto{
        padding: 5px;
        max-width: 1000px;
        grid:
    "desktop descricao" auto 
    "desktop mobile" auto
    "acesso-projeto mobile" 100px
    / 60% 40%;
    }
    .projeto .mobile img{
        width: 250px;
        height: 345px;
    }
}

@media (max-width:1080px){
    .cabecalho{
        padding: 40px;
    }
    .cabecalho .menu li {
        margin: 0;
    }
    .cabecalho .menu li a{
        padding: 0 10px;
    }
    

    .principal .info{
        padding: 0 20px;
    }
    .principal .info p{
        font-size: 1.8rem;
    }
    .principal .info h1{
        font-size: 5rem;
    }
    .principal .info h3{
        font-size: 2.2rem;
    }
    .principal .info a{
        font-size: 2rem;
        padding: 10px 25px;
    }

    .sobre .info {
        font-size: 1.5rem;
    }

    .tecnologias .icones{
        font-size: 80px;
    }

    .projeto{
        max-width: 900px;
    }
    .projeto .mobile img{
        width: 240px;
        height: 335px;
    }
    .projeto .descricao p{
        font-size: 1.6rem;
    }
    .projeto .acesso-projeto .links{
        opacity: 0.8;
    }
    .projeto .acesso-projeto .links a{
        opacity: 1;
    }
}

@media (max-width:975px){
    .cabecalho .menu li a{
        font-size: 1.9rem;
    }

    .sobre{
        padding: 100px 10px;
    }
    .sobre .info {
        font-size: 1.4rem;
    }
    .sobre .info a{
        padding: 10px;
        font-size: 1.6rem;
    }
    .sobre .info a i{
        font-size: 20px;
    }

    .conteudo .setas{
        width: 90px;
    }
    .projeto.mostrar{
        display: flex;
        flex-direction: column;
    }
    .projeto .desktop{
        border-radius: 18%;
    }
    .projeto .mobile {
        display: none;
    }
    .projeto .descricao{
        padding: 0 30px 30px 60px;
    }
    .projeto .acesso-projeto {
        align-self: flex-start;
    }
    .projeto .acesso-projeto .btn-link-projeto{
        margin: 13px 0 10px 60px;
    }
    .projeto .acesso-projeto .links{
        top:-20px;
        left: 290px;
    }

    .contato h2{
        font-size: 3rem;
    }
    .contato .redes-sociais li a i{
        font-size: 39px;
    } 
    .contato h3{
        font-size: 2rem;
    }
}

@media (max-width:890px){
    .cabecalho .menu li a{
        font-size: 1.7rem;
    }

    .principal{
        justify-content: space-between;
        padding: 50px 30px 100px 30px;
    }
    .principal .info{
        padding: 0;
        width: 60%;
    }
    .principal .info p{
        font-size: 1.7rem;
    }
    .principal .info p img{
        width: 30px;
    }
    .principal .info h1{
        font-size: 4.7rem;
    }
    .principal .info h3{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .principal .info a{
        font-size: 1.9rem;
        padding: 10px 25px;
    }
    .principal .imagem-principal{
        width: 40%;
    }

    .sobre{
        flex-direction: column;
    }   
    .sobre .info{
        width: 100%;
        padding: 30px 50px;
        text-align: justify;
    }
}

@media (max-width:750px) {

    .cabecalho .menu li a{
        padding: 0 7px;
    }

    .principal .info p{
        font-size: 1.6rem;
    }
    .principal .info p img{
        width: 29px;
    }
    .principal .info h1{
        font-size: 4.5rem;
    }
    .principal .info h3{
        font-size: 1.9rem;
    }
    .principal .info a{
        font-size: 1.8rem;
    }

    .tecnologias h2{
        font-size: 3.5rem;
    }
    .tecnologias .icones{
        font-size: 70px;
    }

    .projetos h2{
        font-size: 3.5rem;
    }
    .projeto .descricao{
        padding: 0 30px 30px 20px;
    }
    .projeto .acesso-projeto .btn-link-projeto{
        margin: 13px 0 10px 20px;
    }
    .projeto .acesso-projeto .links{
        left: 250px;
    }

    .contato h2{
        font-size: 2.8rem;
    }
}

@media (max-width:675px) {
    .cabecalho{
        padding: 40px 20px 80px 20px;
    }
    .cabecalho .menu{
        display: none;
    }
    .cabecalho .menu-hamburger{
        display: block;
    }

    .principal .info{
        width: 100%;
    }
    .principal .imagem-principal{
        display: none;
    }

    .sobre .info{
        padding: 35px 20px;
    }
    .sobre .info .texto p{
        text-indent: 0px;
    }
    .sobre .info a{
        align-self: center;
    }

    .tecnologias h2{
        font-size: 3rem;
    }
    .tecnologias .icones{
        font-size: 60px; 
    }
    .tecnologias .icones li{
        margin: 0 10px;
    }

    .projetos h2{
        font-size: 3rem;
    }
    .conteudo .setas img{
        height: 35px;
        width: 25px;
    }
    .projeto{
        max-width: 500px;
    }
    .projeto .desktop{
        display: none;
    }
    .projeto .mobile {
        display: block;
        align-self: center;
        padding: 22px;
        border-radius: 25%;
    }
    .projeto .mobile img{
        width: 250px;
        height: 345px;
    }
    .projeto .descricao{
        padding: 10px 20px;
    }
    .projeto .descricao h3{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .projeto .descricao p{
        font-size: 1.4rem;
    }
    .projeto .acesso-projeto{
        align-self: center;
    }
    .projeto .acesso-projeto .btn-link-projeto{
        margin:10px 0;
        padding: 10px;
        font-size: 1.5rem;
        width: 180px;
    }
    .projeto .acesso-projeto .links{
        width: 300px;
        padding: 10px;
        top:-10px;
        left: -50px;
        opacity: 1;
    }
    .projeto .acesso-projeto .links a{
        margin: 5px 0;
        font-size: 1.4rem;
    }
    .projeto .acesso-projeto .links .btn-fechar{
        right: 10px;
    }

    .contato h2{
        font-size: 2.5rem;
    }
    .contato .redes-sociais li a i{
        font-size: 35px;
    } 
    .contato h3{
        font-size: 1.9rem;
    }
}

@media (max-width:550px) {
    .principal{
        padding: 60px 30px 140px 30px;
    }

    .tecnologias{
        padding: 140px 20px;
    }
    .tecnologias .icones{
        flex-wrap: wrap;   
    }

    .projeto{
        max-width: 330px;
    }
    .projeto .acesso-projeto .links{
        width: 270px;
        left:-40px;
    }
    .projeto .acesso-projeto .links a{
        font-size: 1.3rem;
    }

    .contato h2{
        font-size: 2rem;
    }
    .contato .redes-sociais li{
        margin: 10px;
    }
    .contato .redes-sociais li a i{
        font-size: 35px;
    }
    .contato h3{
        font-size: 1.8rem;
    }
}

@media (max-width:390px) {
    .principal .info h1{
        font-size: 4.2rem;
    }

    .tecnologias .icones{
        display: grid;
        grid-template: auto auto auto / repeat(2, 40%);
        justify-content: center;
        justify-items: center;
        grid-gap: 15px 0;
    }
    .tecnologias .icones li{
        margin: 0;
    }

    .conteudo .setas{
        width: 45px;
    }
    .conteudo .setas img{
        height: 30px;
        width: 20px;
    }
    .projeto{
        max-width: 280px;
    }
    .projeto .mobile img{
        width: 235px;
        height: 330px;
    }
    .projeto .descricao{
        padding: 10px 20px 0 20px;
    }
    .projeto .descricao h3{
        margin-bottom: 5px;
    }
    .projeto .descricao p{
        font-size: 1.3rem;
    }
    .projeto .acesso-projeto .links{
        width: 260px;
    }
}