@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Bogart';
    src: url("../fonts/Bogart-Regular-trial.ttf"), url("../fonts/Bogart-Medium-trial.ttf"), url("../fonts/Bogart-Bold-trial.ttf"), url("../fonts/Bogart-Black-trial.ttf") format("truetype");
}

:root{
    --color01: #060518;
    --color02: #0a0827;
    --color03: #1b134d;
    --color04: #332979;
    --font-primary: 'Bogart', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}    